.Rproj.user
.Rhistory
.RData
.Ruserdata
*.bam
*.pdf
*.Rproj
*.Rproj
*.pdf
*.png
*results*
*figures*
*bam*
*.tmp
*html
*.bed
*_rslurm*
*.chain
*.bed*
*data*
*.txt
*.csv
*archive*
*.as
.DS_store
GEO_submission/
*.bb
*.broadPeak
*.bigWig
*.json
*.sh
*.gappedPeak

